/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--- End reset ---*/
body{
    font-family: 'Alegreya', Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 2.5em; /*40/16*/
    line-height: 1.2; /*48/40*/
}
h2{
    font-size: 2em; /*32/16*/
    margin-bottom: 0.3125em; /*10/32*/
}
h1,h2,h3{
    font-weight: 700;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    color:#412136;
}
img{
    display: block;
}
.mainContent{
    padding: 1.25em 5.333333333333334% 2em; /* 20/16 - (20/375)*100 - 32/16*/
}
.btn{
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    color:#412136;
    font-size: 1.375em; /*22/16*/
    background-color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    padding: 0.727272727272727em; /*16/22*/
    border-radius:0.363636363636364em; /*8/22*/
}